nvim/plugged
symlinks/home
zsh/zcompdump

zsh/oh-my-zsh
ranger/plugins/ranger_devicons
emsdk

dconf
qt5ct
qutebrowser/autoconfig.yml
autostart
chromium

backups

qpdfview
skypeforlinux
nvim/yarn.lock
spotify
starship.toml
tmux/plugins
vlc/vlc-qt-interface.conf
htop

*.tar.gz
yay-10*
_src/gopath
_src/stdweb

coc/extensions



zsh/.auctex-auto
nvim/.netrwhist

*_old
.cache
__git*

__pycache__


0ad
discord
BraveSoftware
Epic
Microsoft
Mousepad
QtProject.conf
Slack
Thunar
termite
taskwarrior
thefuck
transmission

teams
viewnior
vimb
volumeicon
user-dirs*
pipewire*
pamack
flameshot
evolution
gtk*
gthumb
mime*
mirage
mps*
pamac
configstore
