*_old
.cache
__pycache__
_src/*.tar.gz
_src/gopath
_src/stdweb
_src/yay-10*
coc/extensions
emsdk
nvim/.netrwhist
nvim/backups
nvim/plugged
nvim/yarn.lock
qutebrowser/autoconfig.yml
ranger/plugins/ranger_devicons
symlinks/home
tmux/plugins
zsh/.auctex-auto
zsh/oh-my-zsh
zsh/zcompdump

0ad
BraveSoftware
Epic
Microsoft
Mousepad
QtProject.conf
Slack
Thunar
autostart
chromium
configstore
dconf
discord
evolution
flameshot
gthumb
gtk*
mime*
mirage
mps*
pamac
pamack
pipewire*
qpdfview
qt5ct
skypeforlinux
spotify
starship.toml
teams
termite
transmission
user-dirs*
viewnior
vimb
vlc/vlc-qt-interface.conf
volumeicon
