[submodule "tex/tex-headers"]
	path = tex/tex-headers
	url = https://github.com/vincentmader/tex-headers
[submodule "tmux"]
	path = tmux
	url = https://github.com/vincentmader/tmux-config
[submodule "lf"]
	path = lf
	url = https://github.com/vincentmader/lf-config
