.DS_Store
/coc/
/coc/extensions/node_modules
/dmenu/
/docker/
/doom
/dwm/
/emacs
/filezilla/
/flutter/tool_state
/instaloader/
/iterm2/
/jupyter/migrated
/nvim/backups/
/nvim/plugged/
/ranger/plugins/
/st/
/symlinks/
/tabbed/
/tmux/plugins/
/tmux/saved_sessions/
/wget/wget-hsts
/zsh/oh-my-zsh/
/zsh/zsh_history/
__pycache__/
/tool_state
