Colour
antigravity
bokeh
flask
gspread
imageio
jedi
jupyter
keras
latex
matplotlib
neovim
nltk
numpy
oauth2client
pandas
pillow
pygame
requests
scipy
seaborn
selenium
setuptools
sklearn
spacy
statsmodels
tasklib
tensorflow
torch
urllib3
xlrd
