snippet list "a markdown list"
${1:list title}
  * 
  *
  *
endsnippet

snippet recipe "basic structure for recipe" 
$1
===============================================================================

Zutaten:
-------------------------------------------------------------------------------
  * 

Zubereitung:
-------------------------------------------------------------------------------

## 1. 
  * 

## 2. 
  * 

Servierung
-------------------------------------------------------------------------------

  * 
endsnippet


snippet underline_h1 "==============="
===============================================================================
endsnippet


snippet underline_h2 "---------------"
-------------------------------------------------------------------------------
endsnippet
