snippet function ""
function ${1:f}($2)
    $3
end
endsnippet

snippet printf ""
@printf($1)
endsnippet

snippet using_Printf ""
using Printf
endsnippet

snippet using_Plots ""
using Plots
endsnippet

snippet begin_end ""
begin
    $1
end
endsnippet
